@media (min-width: 1700px) {
    .container {
        max-width: 1600px;
    }
}

.media-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 12px;
}

.media {
    position: relative;
    box-sizing: content-box;
    max-width: 50%;
    border: 18px solid black;
    border-radius: 18px;
    width: 800px;
    height: 600px;
    background-color: #ccc;
}

.media video {
    width: 800px;
    height: 600px;
}

.media-container .arrow {
    font-size: 1.5em;
}

.media-container .link {
    position: absolute;
    z-index: -1;
    top: 550px;
    transform: scale(3, 1.2);
    font-size: 7em;
    color: #ccc;
}

.media-container .controls {
    display: flex;
    position: absolute;
    bottom: -80px;
    right: 2px;
    padding: 5px;
    border: 2px solid #CFD8DC;
    border-radius: 8px;
}

.media-container .controls div {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.controls .play {
    background-color: forestgreen;
    color: white;
}

.controls .stop {
    background-color: #888;
    color: white;
}

.controls .stop span {
    margin-top: 1px;
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: white;
}

.table-container {
    margin: 52px 20px 0;
}

.table-audio .row {
    justify-content: end;
    text-align: right;
}

.add-filter-row {
    min-height: 45px;
}
.add-filter-row .type {
    text-transform: capitalize;
}

.filters-row {
    margin-top: 20px;
}

.filter {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin: 4px 0;
    padding: 28px 6px 6px;
    border: 2px solid #CFD8DC;
    border-radius: 8px;
    min-width: 120px;
}

.table-audio .filter {
    margin-left: 5px;
}

.table-video .filter {
    margin-right: 5px;
}

.filter-label {
    position: absolute;
    padding: 0 6px;
    top: -2px;
    left: 0;
    background-color: #CFD8DC;
    color: #000;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 8px;
}

.filter-remove {
    cursor: pointer;
    position: absolute;
    padding: 0 4px;
    top: -2px;
    right: 0;
    color: #333;
}

.filter-help {
    position: absolute;
    padding: 0 4px 0 6px;
    bottom: 0;
    right: 0;
    background-color: #CFD8DC;
    color: #000;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 8px;
}


.filter-knobs {
    display: flex;
}

.no-knobs {
    padding-top: 50px;  
    height: 140px;
    text-align: center;
}

.knob {
    margin: 0 4px;
    width: 100px;
    position: relative;
}

.knob-value {
    position: absolute;
    top: 38px;
    z-index: -1;
    width: 100%;
    text-align: center;
}

.knob-label {
    margin-top: -10px;
    display: flex;
    min-height: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.1em;
}