certs
ducksoup
core
.DS_Store
.vscode

# logs and recorded data
data
log
*.mkv
*.ogg

# GStreamer plugin libs
*.so
plugins

# front build assets
front/static/assets/scripts

# docker data folders
docker/plugins
docker/data

# license and SDK
*.uid
*.key

# yarn node
node_modules
yarn-error.log