certs
ducksoup

# logs and recorded data
logs

# license and SDK
*.uid
*.key

# GStreamer plugin libs
*.so
plugins

# front build assets
front/static/assets/scripts

# docker data folders
docker/plugins
docker/logs

.DS_Store
