certs
ducksoup
.DS_Store

# logs and recorded data
data
logs
*.mkv
*.ogg

# GStreamer plugin libs
*.so
plugins

# front build assets
front/static/assets/scripts

# docker data folders
docker/plugins
docker/data

# license and SDK
*.uid
*.key