#DS_PORT=8000
#DS_WEB_PREFIX=/path
#DS_ORIGINS=http://localhost:8000,http://localhost:8100
#DS_GEN_TWCC=true
#DS_GST_DISABLE_PLI=true
#DS_GST_ENABLE_TRACKING=true
#DS_LOG_STDOUT=true
#DS_LOG_FILE=log/ducksoup.log
#DS_LOG_LEVEL=4
#DS_TEST_LOGIN=ducksoup
#DS_TEST_PASSWORD=ducksoup
#DS_STATS_LOGIN=ducksoup
#DS_STATS_PASSWORD=ducksoup
#DS_NVIDIA=true