## own variables
# DUCKSOUP_PORT=8100
# DUCKSOUP_WEB_PREFIX=/path
# DUCKSOUP_PUBLIC_IP=...
# DUCKSOUP_ALLOWED_WS_ORIGINS=http://localhost:8100,http://localhost:8180
# DUCKSOUP_TURN_ADDRESS=localhost
# DUCKSOUP_TURN_PORT=3478
# DUCKSOUP_TURN_PASSWORD=secret
# DUCKSOUP_TEST_LOGIN=ducksoup
# DUCKSOUP_TEST_PASSWORD=ducksoup
# DUCKSOUP_NVCODEC=false
# DUCKSOUP_NVCUDA=false
# DUCKSOUP_GENERATE_PLOTS=true
# DUCKSOUP_GENERATE_TWCC=true
# DUCKSOUP_GCC=true
# DUCKSOUP_GST_TRACKING=false
# DUCKSOUP_LOG_STDOUT=true
# DUCKSOUP_LOG_FILE=log/ducksoup.log
# DUCKSOUP_LOG_LEVEL=3
# DUCKSOUP_FORCE_OVERLAY=false
# DUCKSOUP_NO_RECORDING=false

## connection to other services
# DUCKSOUP_ICE_SERVERS=stun:stun.l.google.com:19302,stun:stun3.l.google.com:19302