body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.tm {
  margin-top: 12px;
}

#local-video {
  width: 160px;
  height: 120px;
  display: inline-block;
}

.info {
  display: inline-block;
}

.info p {
  margin: 5px 0;
}

.container {
  width: 800px;
}

#placeholder video {
  width: 800px;
  height: 600px;

  overflow: hidden;
}

#ducksoup {
  position: relative;
}

#ending {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  border-radius: 5px;
}

#ending div {
  display: inline-block;
  position: relative;
  text-align: right;
  background-color: #bbbbbbcc;
  height: 26px;
  top: -14px;
  right: 0;
  opacity: 1;
  padding: 0 8px;
  border-radius: 5px;
}