nav .input-group {
    width: 160px;
    height: 30px;
}

.video-container {
    position: relative;
    margin-bottom: 20px;
}

.video-container .overlay {
    position: absolute;
}

.video-container .overlay div {
    padding: 0 8px;
    height: 26px;
    border-radius: 5px;
    color:white;
    background: #888;
    padding: 0 5px;
}

.video-container .overlay.overlay-top {
    top: 3px;
    left: 3px;
}

.video-container .overlay.overlay-bottom {
    bottom: 3px;
    right: 3px;
    text-align: right;
}

.stats p {
    margin-bottom: 3px;
}